.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 16px;
}

button:hover {
  background-color: #218838;
}
